<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
<link rel="stylesheet" type="text/css" href="table_style.css">
</head>
<body>

<p>Pizza Liking Prediction</p>
<table align=center cellspacing=10>
 <th class="hidden_th">Enter Your Age:</th>
 <tr>
  <td class="column1">Enter Your Age:</td>
  <td><input type="text" placeholder="Enter Your Age"></td>
 </tr>

 <th class="hidden_th">Enter Your Weight:</th>
 <tr>
  <td class="column1">Enter Your Weight:</td>
  <td><input type="text" placeholder="Enter Your Weight"></td></tr>
 <tr>
 <td>
  <button type="submit" class="button holder">Predict</button>
 </td>
 </tr>
</table>
</body>
</html>